.selectBox-push-controller {
	border: 1px solid black;
	cursor: pointer;
	padding: 5px;
}

.selectBox-push-controller .selectBox-arrow.left {
    border-top: 5px solid transparent;
    border-right: 8px solid black;
    border-bottom: 5px solid transparent;
	height: 0;
    width: 0;
    margin: auto;
    margin-left: 5px;
    transition: transform 0.5s;
}

.selectBox-push-controller .selectBox-arrow.down {
	transform: rotateZ(-90deg);
}

.selectBox-push-controller .selectBox-label {
	display: inline-flex;
	color: #c3c3c3;
}

.selectBox-push-controller .selectBox-options {
	max-height: 0;
	-webkit-transition: max-height 0.25s;
	-moz-transition: max-height 0.25s;
	-ms-transition: max-height 0.25s;
	transition: max-height 0.25s;
	overflow: hidden;
}

.selectBox-push-controller .selectBox-options.open {
	max-height: 500px;
	-webkit-transition: max-height 0.25s;
	-moz-transition: max-height 0.25s;
	-ms-transition: max-height 0.25s;
	transition: max-height 0.25s;
}

.selectBox-push-controller .selectBox-options div:hover {
	background-color: #d4e8ff;
}

.selectBox-push-controller .selectBox-options div.expelled {
	display: none;
}

.selectBox-push-controller .selectBox-options input {
	font-size: 11px;
	width: 100px;
}